<div class="form-wrapper">
  <section class="container form-container">
    <h2 class="form-title">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :name, "ユーザー名", class: "required-column form-label" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "ユーザー名を入力" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class: "required-column form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "パスワード", class: "required-column form-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "パスワードを入力" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "パスワード(確認用)", class: "required-column form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワードを入力" %>
      </div>

      <div class="actions">
        <%= f.submit "新しいアカウントを作成", class: "btn mb-3 signup-btn form-btn" %>
      </div>
    <% end %>

    <%= link_to "アカウントをお持ちの方はログイン", new_session_path(resource_name), class: "btn form-btn cancel-btn" %>
  </section>
</div>


