<div class="form-wrapper">
  <section class="container form-container">
    <h2 class="form-title">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワードを入力" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn mb-3 signin-btn form-btn" %>
      </div>
    <% end %>

    <%= link_to "新しいアカウントを作成", new_registration_path(resource_name), class: "btn form-btn cancel-btn" %>
  </section>
</div>


